/.vscode
/aproject
/aprojects
/basic programs
/data.txt
/datastruct
/demo.txt
/demo1.txt
/excepting
/filehand
/fn
/fruits.txt
/modules
/numbers.txt
/oops
/practical
/pythontest
/scope
/test_folder
/third module
/__pycache__